@import "tailwindcss";

@font-face {
    font-family: woff300;
    src: url(../public/Fonts/Lausanne-300.woff2);
}

@font-face {
    font-family: woff500;
    src: url(../public/Fonts/Lausanne-500.woff2);
}

* {
    box-sizing: border-box;
    text-transform: uppercase;
}

*::selection {
  background-color: #D3FD50; /* Change the background color */
  color: #000000;           /* Change the text color */
}


.theLinks {
    position: relative;
    top: -10vw;
}

.movingLink {
    animation:moveAnimation 9s linear infinite;
}

.unknownlinks:hover, .unknownlinks1:hover {
    color:#D3FD50;
    cursor:pointer;
}

@keyframes moveAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media(min-width : 1000px) {
    .TheUnknowlinkHub {
        display:flex;
        gap:15px;
        font-size: 12px;
    }

    .unknownTime {
        display:visible;
    }
}

@media(max-width : 1000px) {
    .heroText {
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu {
        height:40px;
    }

    .unknownText {
        position:absolute;
        font-size: 13px;

    }

    .unknownText2 {
        font-size: 28px;
        padding-left: 10px;
        margin-top: 10vh;
    }

    .unknownTime {
        display:none;
    }
}

@media (max-width : 500px) {
    .unknownText {
        position: absolute;
        left:10px;
    }

    .cardWrapper {
        display: flex;
        height: 60vh;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .img {
        width: 100%;
        height: 50%;
    }

    .absolute-logo {
        width: 100px;
    }

    .TheUnknownLinkHub2 {
        display: flex;
        gap:1;
    }

    .unknownlinks1 {
        font-size: 12px;
    }

    .hubOfHub {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
    }
}

@media (max-width : 700px) {
    .unknownText2 {
        font-size: 18px;
        padding-left: 10px;
        margin-top: 10vh;
    }

    .agenceImg {
        border-radius: 5px;
    }
}